#header {
    padding: 40px;
    background-color: #6A7F5F;
}

#header h1, h6 {
    text-align: center;
}

#navbar {
    background-color: #c5c8c08c;
}

#navbar a {
    text-decoration: underline;
    margin-left: 30px;
}

#main {
    padding-top: 5%;
}

#navbar_drop a {
    text-decoration: none;
    margin: 0;
}

#main {

}

#page-title {
    padding-top: 3%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}

#result {
    font-size: 30px;
}
