#header {
    padding: 40px;
    background-color: #6A7F5F;
}

#header h1 {
    text-align: center;
}

#navbar {
    background-color: #F9F6EF;
}

#navbar a {
    text-decoration: underline;
    margin-left: 30px;
}

#navbar_drop a {
    text-decoration: none;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
}
